%h2
  Create a New Paste
%form{:action  => "/new", :method  => "post"}
  #summary
    %input.text{:type  => "text", :name  => "summary",
                :placeholder => "Paste Summary"}
  #language
    Language:
    %select{:name => "language"}
      %option{:value => "text.plain"}
        Plain Text
      %option{:value => "text.html.basic"}
        HTML
      %option{:value => "text.haml"}
        HAML
      %option{:value => "source.yaml"}
        YAML
      %option{:value => "text.xml"}
        XML
      %option{:value => "source.css"}
        CSS
      %option{:value => "source.js"}
        JavaScript
      %option{:value => "source.sql"}
        SQL
      %option{:value => "source.shell"}
        Shell
      %option{:value => "source.c"}
        C
      %option{:value => "source.c++"}
        C++
      %option{:value => "source.c-sharp"}
        C#
      %option{:value => "source.d"}
        D
      %option{:value => "source.perl"}
        Perl
      %option{:value => "source.tcl"}
        Tcl
      %option{:value => "source.lua"}
        Lua
      %option{:value => "source.python"}
        Python
      %option{:value => "source.ruby"}
        Ruby
      %option{:value => "source.erlang"}
        Erlang
      %option{:value => "source.haskell"}
        Haskell
      -# The following are the remaining syntaxes supported by Ultraviolet.
      -# I decided to not start with all of them as options, but if you need
      -# them, here they are!
      -#
      -# source.actionscript
      -# source.active4d
      -# source.active4d.library
      -# source.ada
      -# source.antlr
      -# source.apache-config
      -# source.apache-config.mod_perl
      -# source.applescript
      -# source.asp
      -# source.asp.vb.net
      -# source.c++.qt
      -# source.c.ragel
      -# source.camlp4.ocaml
      -# source.cm
      -# source.coffee
      -# source.context-free
      -# source.css.beta
      -# source.diff
      -# source.dot
      -# source.dylan
      -# source.eiffel
      -# source.fortran
      -# source.fscript
      -# source.fxscript
      -# source.gri
      -# source.groovy.groovy
      -# source.icalendar
      -# source.inform
      -# source.ini
      -# source.io
      -# source.java
      -# source.java-props
      -# source.js.greasemonkey
      -# source.js.jquery
      -# source.js.mootools
      -# source.js.prototype
      -# source.js.prototype.bracketed
      -# source.js.yui
      -# source.json
      -# source.lex
      -# source.lighttpd-config
      -# source.lilypond
      -# source.lisp
      -# source.logo
      -# source.logtalk
      -# source.makefile
      -# source.matlab
      -# source.mel
      -# source.mips
      -# source.ml
      -# source.modula-3
      -# source.nant-build
      -# source.objc
      -# source.objc++
      -# source.ocaml
      -# source.ocamllex
      -# source.ocamlyacc
      -# source.open-gl
      -# source.pascal
      -# source.pascal.vectorscript
      -# source.php.cake
      -# source.plist.tm-grammar
      -# source.postscript
      -# source.processing
      -# source.prolog
      -# source.python.django
      -# source.qmake
      -# source.quake-config
      -# source.r
      -# source.r-console
      -# source.regexp
      -# source.regexp.oniguruma
      -# source.regexp.python
      -# source.remind
      -# source.rez
      -# source.ruby.experimental
      -# source.ruby.rails
      -# source.s5
      -# source.sass
      -# source.scheme
      -# source.scilab
      -# source.scss
      -# source.slate
      -# source.smarty
      -# source.sql.ruby
      -# source.ssh-config
      -# source.strings
      -# source.swig
      -# source.tcl.macports
      -# text.active4d-ini
      -# text.bbcode
      -# text.bibtex
      -# text.blog
      -# text.blog.html
      -# text.blog.markdown
      -# text.blog.textile
      -# text.gtdalt
      -# text.html.asp
      -# text.html.asp.net
      -# text.html.cfm
      -# text.html.django
      -# text.html.dokuwiki
      -# text.html.doxygen
      -# text.html.markdown.multimarkdown
      -# text.html.mason
      -# text.html.mediawiki
      -# text.html.mt
      -# text.html.ruby
      -# text.html.strict.active4d
      -# text.html.tcl
      -# text.html.textile
      -# text.html.tt
      -# text.html.twiki
      -# text.html.xhtml.1-strict
      -# text.log.latex
      -# text.mail.markdown
      -# text.man
      -# text.moinmoin
      -# text.plain.gtd
      -# text.plain.release-notes
      -# text.plist
      -# text.pmwiki
      -# text.restructuredtext
      -# text.setext
      -# text.subversion-commit
      -# text.tabular.csv
      -# text.tabular.tsv
      -# text.tex
      -# text.tex.latex
      -# text.tex.latex.beamer
      -# text.tex.latex.haskell
      -# text.tex.latex.memoir
      -# text.tex.latex.rd
      -# text.tex.latex.sweave
      -# text.tex.math
      -# text.txt2tags
      -# text.xml.apple-dist
      -# text.xml.strict
      -# text.xml.xsl
  #contents
    %textarea{:id => "contents", :name => "contents"}
  #submit
    %input{:type => "submit", :value => "Save"}

