- if @paste
  %h2
    #{Sanitize.clean(@paste.summary)}
  %p.small
    #{@paste.timestamp.strftime("Pasted on %Y-%m-%d at %H:%M:%S %Z")}
  #{Uv.parse(@paste.contents, "xhtml", KuroPaste::Syntax[@paste.language], @line, "idle")}
- else
  %h2
    Not Found
  %p
    No paste was found with the specified ID.

