- if @paste
  %h2
    #{Sanitize.clean(@paste.summary)}
  #{Uv.parse(@paste.contents, "xhtml", @paste.language, @numbers, "idle")}
- else
  %h2
    Not Found
  %p
    No paste was found with the specified ID.

